{% extends "auctions/layout.html" %}

{% block body %}

    {% if listing %}
        <h1>{{listing.title}}</h1>

        {% if listing in request.user.whishlist.all %}
        <p class="whishlist">In your Whishlist!</p>
        {% endif %}

        <div class="single-listing-container">
            <div class="listing-title">
                <p>Category: {{ listing.category}} </p>
                {% if listing.image %}
                    <img src="{{ listing.image }}" alt="{{ listing.title }}" width="100">
                {% endif %}
            </div>
            <div class="listing-details">
                <p>{{ listing.description }}</p>
                <p>Starting from: {{ listing.starting_bid}} €</p>
                <p>Latest bid: {{ listing.current_price }} €</p>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <button type="submit">
                {% if listing in request.user.whishlist.all %}
                    Remove from Whishlist
                {% else %}
                    Add to Whishlist
                {% endif %}
            </button>
        </form>
    
    {% else %}
        <p>Listing does not exist. Please check all active listings <a href="{% url 'index'%}">here</a></p>    
    {% endif %}


{% endblock body %}